---
import Layout from "../layouts/Layout.astro";
import { Albums } from "../data/albums";
import { Tracks } from "../data/tracks";
import AlbumTrackList from "../components/AlbumTrackList.astro";

const { album } = Astro.params;
const info = Albums.find((a) => a.id === album);

if (!info) {
    return Astro.redirect("/404");
}
---

<Layout title={info.title}>
    <main
        class="m-auto flex flex-col items-center justify-center max-w-5xl min-h-screen gap-5"
    >
        <div
            transition:name={`album-div-${info.id}`}
            class="bg-card transition-all min-h-[800px] shadow-md shadow-white p-8 flex flex-col max-w-md rounded-md gap-3"
        >
            <div class="w-full min-h-full transition-all">
                <img
                    transition:name={`album-image-${info.id}`}
                    class="aspect-auto object-cover h-96 w-full transition-all"
                    src={info.img}
                    alt={`Album ${info.title}`}
                />
            </div>

            <div class="relative w-full min-h-80 flex flex-col">

                <div class="w-full flex">
                    <AlbumTrackList album={album} />

                    <div class="w-full flex flex-col">
                        <div class="text-right font-semibold flex flex-col">
                            <small>{info.genre}</small>
                            <small>Produce by {info.producer}</small>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="mt-auto flex flex-row justify-between w-full h-full">
                    <div class="self-end flex flex-col font-semibold w-full">
                        <small>{info.duration} / {info.realese}</small>
                        <small class="">RELEASED BY {info.studio}</small>
                    </div>

                    <div class="w-full text-right">
                        <h1 class="text-xl font-semibold">{info.artist}</h1>
                        <h1 class="text-2xl text-balance font-bold uppercase">
                            {info.title}
                        </h1>
                    </div>
                </div>

            </div>
        </div>
    </main>
</Layout>
